* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.conteudo {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  max-width: 1100px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem-lateral {
  width: 40%;
  background: #0056b3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.voltar {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #444;
  font-size: 16px;
  margin-bottom: 15px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #222;
}

.descricao {
  font-size: 16px;
  color: #666;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  width: 528px;
  height: 48px;
  border: 1px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.trilhas label {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}

.termos {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-right: 0px;
  font-size: 14px;
  gap: 16px;
  align-items: start;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cancelar {
  background: #fff;
  color: #f3541c;
  border: 1px solid #f3541c;
}

.inscricao {
  background: #f3541c;
  color: #fff;
}

.trilhas {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.trilhas label {
  display: inline-block;
  width: 48%;
  text-align: right;
}

.trilhas .esquerda {
  text-align: left;
  width: 256px;
  height: 120px;
  border: 1px solid #d6d3d1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button2 {
  width: 256px;
  height: 120px;
  border: 1px solid #d6d3d1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button-checked {
  border: 1px solid #f3541c;
}

.card {
  width: 256px;
  height: 120px;
  border: 1px solid #d6d3d1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  justify-content: space-between;
  padding: 12px;

  align-items: center;
}

.linguagem {
  color: #333;
  font-weight: bold;
  text-align: center;
}

.logo-card {
  width: 40px;
  height: 40px;
}

.input-checkbox {
  margin-right: auto;
}

.endereco-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 15px;
}

.endereco-grid div {
  display: flex;
  flex-direction: column;
}

.input_endereco_1 {
  width: 332px;
  height: 48px;
  border: 1px radius 8px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container {
  display: flex;
  align-items: flex-end;
  text-align: right;
  width: 100%;
}

.input_endereco_2 {
  width: 176px;
  height: 48px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.orange-text {
  color: #f3541c;
}

.input-hidden {
  display: none;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.label-text {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.upload-image {
  width: 48px;
  height: 48px;
  transition: transform 0.2s ease-in-out;
}

.upload-text {
  width: 400;
  size: 16px;
  line-height: 150%;
  vertical-align: middle;
  margin-top: 5px;
  font-size: 14px;
  color: #a8a29e;
}


@media (max-width: 768px) {
  .conteudo {
    flex-direction: column;
    width: 95%;
  }

  .imagem-lateral {
    width: 100%;
    padding: 10px;
  }

  .container {
    width: 100%;
    box-shadow: none;
    margin: 10px auto;
    padding: 10px;
  }

  .input,
  .input_endereco_1,
  .input_endereco_2 {
    width: 100%;
  }

  .trilhas {
    flex-direction: column;
    align-items: center;
  }

  .trilhas label,
  .card,
  .button2 {
    width: 100%;
  }

  .endereco-grid {
    grid-template-columns: 1fr;
  }

  .upload-text {
    text-align: center;
  }
}
